version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-target
    environment:
      POSTGRES_DB: targetdb
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: secret
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: